* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #404040;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    
}


header nav {
    margin-top: 25px;
    text-align: center;
}
main{
    text-align: center;
    margin-bottom: 30px
    
    
}
.hungman {
    display: flex;
    margin: auto;
    position: relative;
    width: 20%;
    height: 90%;

    

}




#cabeca{
   
    position: absolute;
    width: 28%;
    height: 30%;
    right: 12%;
    top: 20%;

}
#corpo{
    
   
    position: absolute;
    width: 40%;
    height: 50%;
    right: 6.5%;
    top: 27%;
  
}

#braco1{
  
    position: absolute;
    width: 33%;
    height: 30%;
    right: 17%;
    top: 28%;

  
}
#braco2{
   
    position: absolute;
    width: 35%;
    height: 30%;
    right: -1%;
    top: 29.7%;
}
#perna1{
   
    position: absolute;
    width: 35%;
    height: 30%;
    right: 14%;
    top: 53%;
}
#perna2{
    
    position: absolute;
    width: 35%;
    height: 30%;
    right: 4.1%;
    top: 52.6%;
   
}

#forca{
  display: flex;
  margin: auto;
  width: 90%;
  
 
 

}

#start{
    position: absolute;
    left: 35%;
    bottom: -45%;
    width: 35%;
    height: 15%;
}

#btns{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    position: absolute;
    left: 3%;
    bottom: -25%;

}



#resultados{
  position: absolute;
  bottom: 4%;
  left: 40%;
}

.letterb{
    padding: 5px;
}

#result{
    font-size: 26px;
}
#word{
    font-size: 26px;
}
