* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #404040;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}


header nav {
    margin-top: 25px;
    text-align: center;
}

.hungman {
    margin-top: 50px;
    text-align: center;
   
}

.hungman img {
    width: 350px;
  
 
}

form {
    margin-top: 35px;
    text-align: center;
}

    #teclado  {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border: none;
}

#dica{
    width: 60px;
    height: 30px;
    background-color: green;
    color: white;
}

#btntry {
    width: 150px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    transition: background 400ms;
    margin-top: 10px;
}

#btntry:hover {
    background-color: #2b2b2b;
}
#cabeca{
    position: absolute;
    width: 150px;
    height: 230px;
    bottom: 240px;
    left: 51.5%;
  
    
   
}
#corpo{
    position: absolute;
    width: 200px;
    height: 350px;
    left: 49.4%;
    bottom: 90px;
}

#braco1{
    position: absolute;
    width: 200px;
    height: 250px;
    left: 46.5%;
    bottom: 160px;
}
#braco2{
    position: absolute;
    width: 200px;
    height: 250px;
    left: 54%;
    bottom: 149px;
}
#perna1{
    position: absolute;
    width: 160px;
    height: 250px;
    bottom: 18px;
    left: 49.2%;
   
}
#perna2{
    position: absolute;
    width: 160px;
    height: 250px;
    bottom: 21px;
    left: 52.5%;
   
}

#forca{
    position: absolute;
   

}