* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #404040;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

header nav {
    margin-top: 25px;
    text-align: center;
}

main{
    text-align: center;
    margin-bottom: 30px    
}

.hungman {
    display: flex;
    margin: auto;
    position: relative;
    width: 20%;
    height: 90%;

    border: 2px solid white;
}

.content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#forca {
    display: flex;
    margin: auto;
    width: 90%;
  }

#man0 {   
    position: absolute;
    width: 28%;
    height: 30%;
    right: 12%;
    top: 20%;
}

#man1 {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 6.5%;
    top: 27%;
}

#man2 {
    position: absolute;
    width: 33%;
    height: 30%;
    right: 17%;
    top: 28%;  
}

#man3 {
    position: absolute;
    width: 35%;
    height: 30%;
    right: -1%;
    top: 29.7%;
}
#man4 {
    position: absolute;
    width: 35%;
    height: 30%;
    right: 14%;
    top: 53%;
}

#man5 {
    position: absolute;
    width: 35%;
    height: 30%;
    right: 4.1%;
    top: 52.6%;
}

#resultados {
    
    padding: 5px;
}

#result {
    font-size: 40px;
    margin-top: -20px;
}
#word {
    font-size: 40px;
}

#btns {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    border: 2px solid white;
}

.letterb {
    padding: 5px;
}

#start {
    width: 35%;
    height: 15%;
}

